@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

$Very-Dark-Magenta: hsl(300, 43%, 22%);
$Soft-Pink: hsl(333, 80%, 67%);
$Dark-Grayish-Magenta: hsl(303, 10%, 53%);
$Light-Grayish-Magenta: hsl(300, 24%, 96%);
$White: hsl(0, 0%, 100%);
$tablet-width: 768px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.hero-section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    max-width: 960px;
    padding: 0 1rem;
    margin: 3rem 0;
    .intro-container {
      display: grid;
      grid-template-columns: 1fr;
      text-align: center;
      @media (min-width: $tablet-width) {
        grid-template-columns: repeat(2, 1fr);
        text-align: left;
      }
      .intro-content {
        max-width: 80%;
        margin: 0 auto;
        @media (min-width: $tablet-width) {
          max-width: 70%;
          margin: initial;
        }
        h1 {
          font-size: 2rem;
          max-width: 100%;
          color: $Very-Dark-Magenta;

          @media (min-width: $tablet-width) {
            max-width: 70%;
            margin-bottom: 1rem;
          }
        }
        p {
          color: $Dark-Grayish-Magenta;
          line-height: 1.3;
        }
      }
      .rating-container {
        margin: 1.5rem 0;
        .rating-card {
          background-color: $Light-Grayish-Magenta;
          margin-bottom: 0.8rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 0.8rem 1.5rem;
          gap: 0.4rem;
          border-radius: 6px;
          @media (min-width: $tablet-width) {
            gap: 1rem;
            flex-direction: row;
            max-width: 70%;
            &:nth-child(2) {
              transform: translateX(2rem);
            }
            &:nth-child(3) {
              transform: translateX(4rem);
            }
          }

          .img-container {
            img {
              width: 12px;
              height: 12px;
              object-fit: contain;
            }
          }
          p {
            color: $Very-Dark-Magenta;
            font-weight: 700;
            font-size: 14px;
          }
        }
      }
    }
    .card-container {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;
      margin: 3rem 0;
      @media (min-width: $tablet-width) {
        grid-template-columns: repeat(3, 1fr);
       
      }
      .card {
        background-color: $Very-Dark-Magenta;
        padding: 1.8rem;
        border-radius: 8px;

        .profile-container {
          display: flex;
          gap: 0.8rem;
          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
          }
          .profile {
            h4 {
              color: $White;
            }
            p {
              color: $Soft-Pink;
              margin-top: 3px;
            }
          }
        }
        .description {
          margin-top: 1.4rem;
          color: $Light-Grayish-Magenta;
          line-height: 1.3;
        }
      }
      .card-2 {
        transform: translateY(0.8rem);
      }
      .card-3 {
        transform: translateY(1.6rem);
      }
    }
  }
}